@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    color: #333;
}
label {
    margin-bottom: 5px;
    display: block;
    color: #666;
}
input[type="number"], input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Includes padding and border in the element's width and height */
}
input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #4cae4c;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.controls {
    background: #fafafa;
    padding: 15px;
    border: 1px solid #eee;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green background on hover */
}